---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

import donationsJson from "../../donations.json";

const donations = donationsJson.sort((a, b) => {
  return b.amount - a.amount;
});

function getChunked<T>(array: T[], chunkSize: number): T[][] {
  const list: T[][] = [];
  for (let i = 0; i < array.length; i += chunkSize) {
    const chunk = array.slice(i, i + chunkSize);
    list.push(chunk);
  }
  return list;
}
---

<Layout title="Thank you, Chat!">
  <main>
    <header class="flex flex-col gap-1 w-full justify-center p-5">
      <h1
        class="text-white py-3 m-auto w-fit text-6xl font-bold bg-gradient-to-r bg-clip-text"
      >
        Thank you,
        <span class="text-pink-300">Chat</span>!
      </h1>
      <h3 class="text-zinc-200 text-lg m-auto w-fit">
        With the help your donations we could raise <a
          class="text-blue-300"
          href="https://twitter.com/stylesttv/status/1594413004766183429"
          target="_blank">$2,720</a
        > and have a serious impact on
        <a
          class="text-blue-300"
          href="https://twitter.com/ashtonsfilms"
          target="_blank">Ash</a
        >'s Life!
      </h3>
    </header>
    <article
      class="flex flex-col gap-5 justify-center m-auto mt-10 w-[85vw] md:w-[70vw] xl:w-[60vw]"
    >
      <h2 class="w-fit m-auto text-2xl font-semibold text-blue-200">
        Special Thanks to:
      </h2>
      <ul class="flex flex-col xl:flex-col m-auto gap-5 w-full">
        <div class="w-[100%] min-[500px]:w-[70%] xl:w-[40%] h-24 mx-auto">
          <Card name={donations[0].name} text={`$${donations[0].amount}`} />
        </div>
        <div
          class="flex flex-col min-[500px]:flex-row gap-5 w-[100%] xl:w-[70%] m-auto"
        >
          <div class="w-full h-24">
            <Card name={donations[1].name} text={`$${donations[1].amount}`} />
          </div>
          <div class="w-full h-24">
            <Card name={donations[2].name} text={`$${donations[2].amount}`} />
          </div>
        </div>
      </ul>
    </article>
    <article
      class="flex flex-col w-[85vw] md:w-[70vw] xl:w-[60vw] m-auto gap-3 min-[500px]:gap-5 py-5"
    >
      <h3 class="w-fit m-auto text-xl font-semibold text-blue-200 my-3">
        And Thank you to everyone else who donated:
      </h3>
      {
        getChunked(donations.slice(3), 2).map((chunk) => (
          <div class="flex flex-col min-[500px]:flex-row gap-3 min-[500px]:gap-5 w-[100%] xl:w-[70%] m-auto">
            {chunk.map((element) => (
              <div class="h-24 w-full">
                <Card name={element.name} text={`$${element.amount}`} />
              </div>
            ))}
          </div>
        ))
      }
    </article>
  </main>
</Layout>
